.container.container-shadow(style="margin-bottom: 10px;")
	form(ng-submit="onSubmit()", name="form", novalidate)
		formly-form(model="newTeam", fields="fields", form="form")
			button.btn.btn-primary.submit-button(type="submit", ng-disabled="form.$invalid") Submit

.container.container-shadow
	table.table.table-striped
		thead
			tr
				th Team ID
				th.text-center Team Name
				th
		tbody
			tr
				td(colspan="3")
					input.form-control(type="search", ng-model="query", placeholder="Search...")
			tr(ng-repeat="team in teams | filter:query as results")
				td {{ team.id }}
				td.text-center {{ team.Name }}
				td.text-right
					button.btn.btn-default.btn-sm(href="", ng-click="showEditModal(team)") Edit
					button.btn.btn-default.btn-sm(href="", ng-click="showDeleteModal(team)") Remove
			tr(ng-if="results.length == 0")
				td(colspan="3")
					strong No teams found...