doctype html
html(lang='en', ng-app="app")
  head
    base(href='/')
    title Leaderboard
    // CSS
    link(rel="stylesheet", href="../styles/style.css")
    link(rel="stylesheet", href="../lib/bootstrap.css")
    link(rel="stylesheet", href="../lib/font-awesome.css")
  body(ng-controller="AppController")
    
    div(ng-view)
    
    // jQuery / Bootstrap
    script(type="text/javascript", src="../lib/js/jquery.js")
    script(type="text/javascript", src="../lib/js/bootstrap.js")
    
    // Angular Libraries
    script(type="text/javascript", src="../lib/js/angular.js")
    script(type="text/javascript", src="../lib/js/angular-route.js")
    
    // Application
    script(type="text/javascript", src="../app.js")
    script(type="text/javascript", src="../constants.js")
    
    // Controllers
    script(type="text/javascript", src="../controllers/app.js")
    script(type="text/javascript", src="../controllers/teams.js")
    script(type="text/javascript", src="../controllers/players.js")
    script(type="text/javascript", src="../controllers/leaderboard.js")
    
    // Services
    script(type="text/javascript", src="../services/teams.js")
    script(type="text/javascript", src="../services/players.js")
