doctype html
html(lang='en')
  head
    base(href='/')
    title Leaderboard
    // CSS
    link(rel='stylesheet', href='../styles/style.css')
    link(rel='stylesheet', href='../lib/bootstrap.css')
    link(rel='stylesheet', href='../lib/font-awesome.css')
  body
